<div class="flex flex-col w-full h-screen bg-[#29252D] max-h-h-screen">
  <div class="flex w-full justify-center items-center">
    <div class="flex w-[320px] mt-12 relative">
      <div class="flex gap-7 overflow-x-auto ml-10" style="width: '80%'">
        <img
          class="w-9 h-9 rounded-full"
          src="https://via.placeholder.com/36x36"
        />
        <img
          class="w-9 h-9 rounded-full"
          src="https://via.placeholder.com/36x36"
        />
        <img
          class="w-9 h-9 rounded-full"
          src="https://via.placeholder.com/36x36"
        />
        <img
          class="w-9 h-9 rounded-[20.29px]"
          src="https://via.placeholder.com/36x36"
        />
        <img
          class="w-9 h-9 rounded-[25.13px]"
          src="https://via.placeholder.com/36x36"
        />
        <img
          class="w-9 h-9 rounded-[25.13px]"
          src="https://via.placeholder.com/36x36"
        />
      </div>
    </div>
  </div>
  <div class="flex w-full justify-center mt-10">
    <div
      class="flex flex-col w-[320px]  p-2 bg-zinc-800 rounded-xl wide-inner-shadow pl-7 pr-4 py-4 items-between"
    >
      <div class="flex flex-col space-y-4 overflow-y-auto mb-4">
        <div
          class="max-w-[80%] text-white max-w-xs text-[8.61px]"
          *ngFor="let message of messages; let i = index"
          [class]="message.sender !== personId ? 'lft-msg' : 'rt-msg self-end'"
          style="width: fit-content"
        >
          <div class="flex bg-[#3a3541] rounded-lg p-3">
            <div *ngIf="message.type == 'text'">
              {{ message.message }}
            </div>
            <div class="flex flex-col" *ngIf="message.type == 'image'">
              <img [src]="message.fileUrl" alt="Image preview" />
              <p>{{ message.message }}</p>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="relative w-full bg-[#26232b] rounded-[13px]">
          <div *ngIf="selectedFile" class="file-preview">
            <img
              *ngIf="isImageFile"
              [src]="filePreviewUrl"
              alt="Image preview"
            />
            <button (click)="clearFile()">X</button>
          </div>
          <div class="flex">
            <textarea
              id="message"
              rows="4"
              class="block msg-inner-shadow bg-[#26232b] text-white text-opacity-70 font-medium font-['Gilroy'] leading-3 p-2.5 w-full text-sm rounded-lg"
              placeholder="Your comment"
              ngModel
              [(ngModel)]="message"
              (ngModelChange)="messageChanges($event)"
            ></textarea>
            <div class="absolute inset-y-0 end-0 flex items-center pe-3">
              <div class="flex flex-col justify-center items-center gap-[5px]">
                <img
                  src="assets/icons/send.svg"
                  (click)="sendMessage()"
                  alt=""
                />
                <input
                  type="file"
                  id="fileInput"
                  (change)="onFileSelected($event)"
                  hidden
                />
                <label for="fileInput" class="file-upload-label">
                  <img src="assets/icons/atach.svg" alt="Attach" />
                </label>
                <img
                  src="assets/icons/emoji.svg"
                  (click)="toggleEmojiPicker()"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="showEmojiPicker">
          <emoji-mart
            (emojiSelect)="addEmoji($event)"
            class="mt-4"
            [style]="{
              width: '280px',
              bottom: '20px',
              left: '-200px'
            }"
          ></emoji-mart>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="flex justify-center bg-[#29252D]">
  <div style="width: 375.40px; height: 51.25px; position: relative">
    <img
      style="width: 36px; height: 36px; left: 64.83px; top: 7.62px; position: absolute; background: linear-gradient(0deg, #27242C 0%, #27242C 100%); border-radius: 9999px"
      src="https://via.placeholder.com/36x36" />
    <img
      style="width: 36px; height: 36px; left: 0px; top: 7.62px; position: absolute; background: linear-gradient(0deg, #27242C 0%, #27242C 100%); border-radius: 9999px"
      src="https://via.placeholder.com/36x36" />
    <img
      style="width: 36px; height: 36px; left: 209.74px; top: 7.62px; position: absolute; background: linear-gradient(0deg, #27242C 0%, #27242C 100%); border-radius: 9999px"
      src="https://via.placeholder.com/36x36" />
    <img style="width: 36px; height: 36px; left: 274.57px; top: 7.62px; position: absolute; border-radius: 20.29px"
      src="https://via.placeholder.com/36x36" />
    <img style="width: 36px; height: 36px; left: 339.40px; top: 7.62px; position: absolute; border-radius: 25.13px"
      src="https://via.placeholder.com/36x36" />

  </div>
</div> -->
<!-- <div class="flex w-full h-screen bg-[#29252D]">
  <div class="text-white rounded-lg p-3 w-full wide-inner-shadow">
    <div class="w-full shadow-inner h-screen p-4">
      <div class="flex justify-around mb-4">
      </div>
      <div class="flex flex-col space-y-4 overflow-y-auto">
        <div class="bg-gray-700 text-white rounded-lg p-3 max-w-xs">
          Hi Jake, how are you? I saw on the app that we've crossed paths several times this week 😊
        </div>
        <div class="bg-blue-600 text-white rounded-lg p-3 max-w-xs self-end">
          Haha truly! Nice to meet you Grace! What about a cup of coffee today evening? ☕️
        </div>
      </div>
      <div class="fixed bottom-0 left-0 right-0 p-4 bg-gray-700 flex items-center space-x-2">
        <input type="text" placeholder="Your Message" class="flex-1 rounded-lg p-3 bg-[#29252D] text-white" />
        <button class="bg-[#29252D] p-2 rounded-lg text-white" (click)="toggleEmojiPicker()">
          😊
        </button>
  
        <emoji-mart *ngIf="showEmojiPicker" (emojiSelect)="addEmoji($event)" class="emoji-picker"></emoji-mart>
  
        <button class="bg-pink-600 p-3 rounded-lg text-white">
        </button>
      </div>
    </div>
  </div>
</div> -->
